body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(103, 27, 27, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.game-board {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 0 auto;
    width: 315px;
    background: #000;
    border-radius: 10px;
    padding: 5px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.p1 {
    background-color: lightskyblue;
}

.p2 {
    background-color: lightgreen;
}

.cell:hover {
    filter: brightness(0.8);
}

#Information {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}

#reset {
    border-radius: 5px;
    background-color: lightcoral;
}